<img id='sprites' src="<%= pokedata.sprites.front_default%>" alt="pokemonImage">
<h2><%= pokedata.name%></h2>
<h3>Height:<%= pokedata.weight%></h3>
<h3>Weight:<%= pokedata.height%></h3>
<h3>Ability:<%= pokedata.abilities[0].ability.name%></h3>
