<img id='sprites' src="<%= pokedata.sprites.front_default%>" alt="pokemonImage">
<h2><%= pokedata.name%></h2>
<h3>Height:<%= pokedata.weight%></h3>
<h3>Weight:<%= pokedata.height%></h3>
<h3>Abilities: <% pokedata.moves.forEach((a)=> { %></h3>
     <h4 id='moves'><%= a.move.name %>,</h4>
    <% }) %> 
 